#top-bar{
    background-color: gray;
    width: 100%;
    height: 41px;
    display: flex;
    justify-content: space-around;
}

.top-h{
    margin: 0px;
    line-height: 41px;
}

.top-bar-box{
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.icon-top{
    display: flex;
}

.buttons{
    display: flex;
    margin-right: center;
    font-family: arial;
    font-size: small;
}

#header{
    display: flex;
    background-color: white;
    width: 100%;
    justify-content: center;

    
}

/* .header-image{ */
    
/* } */

.icon-top{
    display: flex;
    width: 15%;
    justify-content: space-between;
    align-items: center;
}

#middle{ 
    background-image: url("https://freewebsitetemplates.com/preview/mustacheenthusiast/images/the-beacon.jpg");
    background-repeat: no-repeat;
    background-size: 100% 80%;
    height: 800px;
} 

#middle-text{
    /* margin-top: -500px; */
    margin-left: 50%;
}

.middle-text-header{
    background-color: white;
    width: fit-content;
    padding: 10px;
    margin-top: 125px;
}

.nav{
    flex-direction: row;
}

.styles{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    /* margin: 350px auto 0px auto; */

}

.image-text{
    background-color: gray;
    width: fit-content;
    padding: 8px;
}

#container{
    display: flex;
    flex-direction: column;
}

